
.block {
  margin: 0;
  padding: 0;
  background: #ffffff;
  display: flex;
  height: 100vh;
  font-family: "KingsCaslon Normal", Arial, sans-serif;

  h1 {
    color: #010f2a;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
  }
}

.place {
  background: #efefef;
  outline: none;
  color: #010f2a;
  box-sizing: border-box;
  width: 30%;

  &__item li, ul {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
  }
}

button {
  height: 30px;
  border: none;
}

.inventory {
  margin: 0 30px;
  box-sizing: border-box;
  width: 70%;

  &__block {
    display: flex;

    &_name {
      width: 80%;
      height: 30px;
    }

    &_value {
      width: 20%;
      height: 30px;
      border: 1px solid gray;
    }
  }

  &__form {
    input {
      width: 100%;
      margin: 10px 0;
    }

    &_add {
      background: #97233f;
      color: white;
      border: none;
      height: 30px;

    }
  }

  &__info {
    display: flex;
    height: 50px;

    &__name {
      width: 55%;
    }

    &__count {
      margin-right: 0;
      width: 45%;

      &_close {
        background: white;
      }

      &_update {
        color: white;
        background: #97233f;
      }
    }
  }
}

input {
  height: 25px;
  border: 1px solid gray;
}


@media screen and (max-width: 848px) {
  .block {
    display: block;
    width: 100%;
  }

  .place, .inventory {
    width: 100vw;
    margin: 0;
  }
}

@media screen and (max-width: 551px) {
  .inventory {

    &__info {
      display: block;

      &__name, &__count {
        width: 100%;
      }

    }
  }
}



